<h1 class="title is-text-centered"> Add new post</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_post_path(@conn, :create)) %>
<hr>
<span><%= link "Back", to: Routes.admin_post_path(@conn, :index), class: "button" %></span>
