<article class="message">
  <div class="message-header">
    <p><%= @post.headline %></p>
  </div>
  <div class="message-body" >
      <%= @post.content %>
  </div>
  <%= link "Back", to: Routes.admin_page_path(@conn, :index)%>
  <%= link "Edit", to: Routes.admin_post_path(@conn, :edit, @post), style: "margin-left: 8px;" %>
</article>

