<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HotelWonderland · Phoenix Framework</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
  <script defer src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"></script>
</head>

<body>

  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img alt="Hotel Wonderland">
      </a>

      <a role="button" class="navbar-burger burger" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>


    <div class="navbar-menu" id="navMenu">
     <div class="navbar-start">
      <%= link  to: Routes.page_path(@conn, :index), class: "navbar-item" do %>
        News feed <i class="fas fa-newspaper"></i>
      <%= end %>
     </div> 
      <div class="navbar-end">

            <%= if signed_in?(@conn) do %>
            
            <%= link to: Routes.user_path(@conn, :show), class: "navbar-item" do %> 
            My profile <i class="fas fa-user-alt"></i>
            <% end %>
            
            <%= link to: Routes.room_path(@conn, :index), class: "navbar-item" do %>
              Show rooms to reserve <i class="fas fa-bed"></i>
              <% end %>


            <%= link  to: Routes.session_path(@conn, :sign_out), method: :post, class: "navbar-item" do %>
            Sign out <i class="fas fa-sign-out-alt"></i>
            <% end %>

            <% else %>

          

            <%= link to: Routes.room_path(@conn, :index), class: "navbar-item" do %>
            Check free rooms <i class="fas fa-door-open"></i>
            <% end %>
        

            <%= link to: Routes.session_path(@conn, :sign_in), method: :get, class: "navbar-item" do %>
             Sign in <i class="fas fa-sign-in-alt"></i>
            <% end %>
            
            
            
            <%= link to: Routes.session_path(@conn, :sign_up), method: :get, class: "navbar-item" do %>
            Sign up <i class="fas fa-user-plus"></i>
            <% end %>
           
            
        </div>
      </div>
      <% end %>
    </div>
    </div>
  </nav>

  <main role="main" class="container">

    <%= render @view_module, @view_template, assigns %>

  </main>
 
   <footer class="footer">
    <div class="content has-text-centered">
       <%= link to: Routes.admin_page_path(@conn, :index) do %>
        Sign in as admin <i class="fas fa-user-shield"></i>
       <%end%> 
       <a href="/contact" style="margin-left: 12px;"> Contact support</a> 
      <p class="has-text-centered">
        &copy; Hotel Wonderland by Dimitrije Dimitrijević
      </p>
    </div>
  </footer>
</body>
<script>
    (function () {
      var burger = document.querySelector('.burger');
      var nav = document.querySelector('#' + burger.dataset.target);

      burger.addEventListener('click', function () {
        burger.classList.toggle('is-active');
        nav.classList.toggle('is-active');
      });
    })();
  </script>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</html>