<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HotelWonderland · Phoenix Framework</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
</head>

<body>
      <nav class="navbar" role="navigation" aria-label="main navigation">

        <div class="navbar-brand">
          <a class="navbar-item" href="/">
              <img src="/images/hw-icon.png" class="is-rounded" alt="Hotel Wonderland">
          </a>

          <a class="navbar-burger burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

      <!-- dodati javascript  na dno-->

        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons" style="margin-left: 24px">
                <%= if signed_in?(@conn) do %>

                <%= link "My profile", to: Routes.user_path(@conn, :show), class: "button is-primary is-rounded" %>

                <%= link "Show rooms to reserve", to: Routes.room_path(@conn, :index), class: "button is-warning is-rounded" %>

                <%= link "Sign out", to: Routes.session_path(@conn, :sign_out), method: :post, class: "button is-danger is-rounded" %>

                <% else %>

                <%= link "Check out our free rooms", to: Routes.room_path(@conn, :index), class: "button is-warning is-rounded"%>

                <%= link "Sign in", to: Routes.session_path(@conn, :sign_in), method: :get, class: "button is-success is-rounded" %>

                <%= link "Sign up", to: Routes.session_path(@conn, :sign_up), method: :get, class: "button is-link is-rounded"%>
                
              </div>
            </div>
          </div>
            <% end %>
        </div>
        </div>
      </nav>

  <main role="main" class="container">

    <%= render @view_module, @view_template, assigns %>

  </main>
  <footer class="footer">
    <div class="content has-text-centered">
      <p class="has-text-black">
        &copy; Hotel Wonderland by Dimitrije Dimitrijevi<a href="/admin" class="has-text-black">c</a>
      </p>
    </div>
  </footer>
  
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>