<article class="message">
  <div class="message-header">
    <p><%= @post.headline %></p>
  </div>
  <div class="message-body" >
      <%= @post.content %>
  </div>
  <%= link "Back", to: Routes.page_path(@conn, :index), class: "button is-primary" %>
</article>




