<h1 class="title has-text-centered">Edit Reservation</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_booking_path(@conn, :update, @booking)) %>

<span><%= link "Back", to: Routes.user_booking_path(@conn, :index) %></span>
