

<%= render "form.html", Map.put(assigns, :action, Routes.user_booking_path(@conn, :create)) %>

<span class="button is-link is-light"><%= link "Back", to: Routes.user_booking_path(@conn, :index) %></span>
<br>

